.restaurant-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.restaurant-details h2 {
  margin-bottom: 10px;
}

.restaurant-details p {
  margin: 5px 0;
}

.restaurant-details img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.restaurant-details button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #36D7B7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.restaurant-details button:hover {
  background-color: #29a895;
}
